<!DOCTYPE html>
<html lang="en">

<head>
		<title> MyApp </title>
</head>

<body>
	
	<!-- Its the form where a user can submit his or her name and email -->

	<form action="/">
	  	<button type="submit">Home</button>
	</form>


	<!-- The table where all the data from the DB will be appeared -->

<h1>Elenco</h1>


	  	<!-- The user_data is a variable containing all the user data from the DB. -->
	  	
	  	{% for word in word_data %}
	  	
	  		<p>{{word.name}}</p>
	  	
	  	{% endfor %}

	</table>
</body>
